QLabel
{
    border: 0px solid #979797;
    border-bottom-width: 2px;
    border-bottom-style:solid;
    border-bottom-color:#F7F7F7;
    font-size: 18px;
    font-family: '微软雅黑';
    color: #2D3238;
    font-weight: 600;
    padding-left:16px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
