QComboBox {
    border: none; 
    
    /* border: 1px solid #dcdcdc; */

    background-color: transparent; 

    padding-left: 4px; 

    qproperty-iconSize: 30px 30px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 0px; 
    border-left-style: solid;
}

QComboBox QAbstractItemView {
    border: 1px solid #cccccc;
    background-color: #ffffff;
}