QScrollBar:vertical
{
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 26px;
    min-height: 100px;
    border-radius: 3px;
}

QScrollBar::handle:vertical
{
    border-radius: 3px;
    background-color: rgb(139, 139, 139);
}

QScrollBar::add-page:vertical
{
    border-image: url();
}

QScrollBar::sub-page:vertical
{
    border-image: url();
}

QScrollBar::add-line:vertical
{
    border-image: url(:/SVG/Arrow_down.svg);
}

QScrollBar::sub-line:vertical
{
    border-image: url(:/SVG/Arrow_up.svg);
}
