QToolButton{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 4px;
    qproperty-iconSize: 20px 20px;
    qproperty-toolButtonStyle: ToolButtonIconOnly;
}

QToolButton:hover {
    background-color: transparent;
    border: none;
    opacity: 0.8;
}

QToolButton:pressed {
    background-color: transparent;
    border: none;
    opacity: 0.6;
}

QToolButton:checked {
    background-color: transparent;
    border: none;
}

QToolButton:checked:hover {
    background-color: transparent;
    border: none;
    opacity: 0.8;
}

QToolButton:disabled {
    background-color: transparent;
    border: none;
    opacity: 0.3;
}