QPushButton
{
    background: transparent;

    qproperty-iconSize: 48px 48px; 
    
    border: none; 
}

QPushButton:hover 
{
    background: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

QPushButton:pressed 
{
    background: rgba(0, 0, 0, 0.15);
}