QTableView
{
    color:#2D3238;
    font-family: '微软雅黑';
    font-size:18px;
    background-color:#D1D8DF;
    selection-color:white;
    selection-background-color:#57698C;
    border:0px groove gray;
    border-radius:10px;
    padding:0px 0px;
}

QTableView::item:selected
{
    color:rgb(255,255,255);
    background-color:#57698C;
}
